.form-text-box {
  border: 1px solid #d0d0d0;
  border-radius: 16px;
  height: 48px;
  border: 1px solid #d0d0d0;
}

.button-link {
  background-color: #7126b5 !important;
  border-radius: 16px;
}

.font-weight {
  font-weight: 500;
}

#kota {
  margin-left: 0 !important;
  font-size: 1rem !important;
}
